body {
  background-color: mediumturquoise;
  /* color: rgb(252, 240, 240); */
  color: #172b4d;
  padding: 70px;
}
.list-group {
  display: flex;
  justify-content: space-around;
}
.list-item {
  /* border: darkgoldenrod 4px solid; */
  min-width: 200px;
  padding: 20px;
  border-radius: 25px;
  background-color: #ebecf0;
  margin: 0px 10px 0 10px;
  height: 100%;
  overflow-y: scroll;
  max-height: 80vh;
}

button {
  height: fit-content;
  border-radius: 20px;
  background-color: rgb(64, 173, 78);
  border: none;
}
button:hover {
  cursor: pointer;
  color: rgb(88, 68, 219);
}
.delete {
  float: right;
}
/* .board {
  padding: 70px;
} */
